.about {
  padding: 8rem 0;
}

.about .center {
  display: flex;
  align-items: center;
}

.about img {
  display: block;
  border-radius: 4px;
}

.about-text {
  margin-left: 4rem;
}

.about-text h1 {
  color: #7159c1;
  line-height: 1.2;
  font-size: 3.4rem;
  font-weight: 400;
}

.about-text p {
  color: #777;
  margin: 0.5rem 0 1.5rem;
  font-size: 1.7rem;
}

.about-text ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0 -1.5rem;
}

.about-text li {
  width: 50%;
  display: flex;
  align-items: center;
  padding: 0 1.5rem;
  font-weight: bold;
  margin-bottom: 3px;
}

.about-text i {
  color: #0fcac6;
  font-size: 12px;
  margin-right: 8px;
}

@media (max-width: 1240px) {
  .about img {
    width: 50%;
  }
}

@media (max-width: 1000px) {
  .about .center {
    align-items: flex-start;
  }

  .about-text ul {
    flex-direction: column;
  }

  .about-text li {
    width: 100%;
  }
}

@media (max-width: 720px) {
  .about {
    padding: 4rem 0;
  }

  .about img {
    display: none;
  }

  .about-text {
    margin-left: 0;
  }

  .about-text h1 {
    font-size: 2.8rem;
  }
}
