header {
  position: relative;
  width: 100%;
  height: 100px;
  background: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.16);
  z-index: 2;
}

header .center {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  color: #7159c1;
  font-size: 2.8rem;
}

header nav a {
  position: relative;
  color: #777;
  font-size: 1.6rem;
  transition: color 0.3s;
}

header nav a + a {
  margin-left: 2em;
}

header nav a:hover {
  color: #7159c1;
}

header nav a.active {
  color: #7159c1;
  font-weight: 700;
}

header nav a.active:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  bottom: -2px;
  background: #0fcac6;
}

header nav a.nav-btn {
  background: #0fcac6;
  border: 2px solid #0fcac6;
  padding: 0.3em 1em;
  border-radius: 4px;
  color: #fff;
  transition: background 0.3s, color 0.3s;
}

header nav a.nav-btn:hover {
  background: none;
  color: #0fcac6;
}

@media (max-width: 720px) {
  header nav {
    display: none;
  }

  header .menu {
    font-size: 22px;
    color: #7159c1;
  }

  header .menu.open {
    position: fixed;
    z-index: 2;
    right: 3rem;
  }

  header .menu.open + nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.9);
  }

  header nav a {
    font-size: 2.4rem;
  }

  header nav a + a {
    margin: 2rem 0 0;
  }
}

@media (min-width: 721px) {
  header .menu {
    display: none;
  }
}
